.jumbotron {
    background-color: rgb(136, 33, 54);
    color: white;
}

hr {
    background-color: #eee;
}

pre {
    color: white;
}

.table th, .table td {
    vertical-align: middle;
}

.table th {
    font-size: 1.2em;
}