<h2>{{ selectedAlumno?.name?.toUpperCase() }} Details</h2>
<router-outlet></router-outlet>
<app-messages></app-messages>
<app-alumnos></app-alumnos>
<nav>
  <a routerLink="/dashboard">Dashboard</a>
  <a routerLink="/alumnos">Alumnos</a>
</nav>

<div *ngIf="selectedAlumno">
  <div><span>id: </span>{{ selectedAlumno.id }}</div>
  <div><span>name: </span>{{ selectedAlumno.name }}</div>

  <div>
    <label>name:
      <input [(ngModel)]="selectedAlumno.name" placeholder="name" />
    </label>
  </div>
</div>
<ul>
  <li *ngFor="let alumnos of alumnos" (click)="onSelect(alumnos)">
    {{ alumnos.name }} - {{ alumnos.edad }} años
  </li>
</ul>